{% extends 'main.html' %}
{% load static %}

{% block title %}
    R.O.D - CAM REGISTER
{% endblock %}

{% block content %}
    <section class="pt-2 pb-0 mb-0">
        <hr class="text-light">
        <div class="container-fluid pb-0 mb-0">
            <div class="row">
                <div class="col-md-6 col-sm-12 px-2">
                    <h4 class="text-light pb-1">Register Your IP Camera</h4>
                    <!--{% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="float-left alert alert-danger alert-dismissible fade show" role="alert">
                            {% else %}
                            <div class="float-left alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {% endif %}
                        
                            {{ message | safe }} {{ message.tags }}
                            <button type="button" class="close btn-close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}-->
                    <form method="post" id="camRegForm">
                        {% csrf_token %}
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                    </div>
                                    {{ form.cname }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="d-flex py-2 px-0 mx-0 gap-3" style="margin-left: 0%;">
                                    {{ form.cip }}
                                    {{ form.cport }}
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <button type="submit" id="regBtn" class="btn btn-primary mb-2" disabled="true">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 px-2">
                    <h4 class="text-light pb-1">Registered IP Cameras</h4>
                    <div class="overflow-auto" style="height: 200px;">
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">CAM</th>
                                <th scope="col">CAM IP</th>
                                <th scope="col">CAM PORT</th>
                                <th scope="col">ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% if cameras %}
                                    {% for camera in cameras %}
                                        <tr data-camera-name="{{ camera.cname }}" data-camera-ip="{{ camera.cip }}" data-camera-port="{{ camera.cport }}">
                                            <td>{{ camera.cname }}</td>
                                            <td>{{ camera.cip }}</td>
                                            <td>{{ camera.cport }}</td>
                                            <td>{{ camera.selected }}</td>
                                            <td>
                                                <a href="" class="test-link">Test</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr data-camera-name="Camera 1" data-camera-ip="198.108.0.107" data-camera-port="8080">
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <hr class="text-light">
        <div class="row" style="width: 100%;">
            <div class="col-md-1"></div>
            <div class="col-md-6 col-sm-12 sm-mb-5">
                <img id="video_stream" class="img-fluid rounded px-5 border border-5 border-secondary" hidden="true">
                <img src="{% static '\asset\images\no_camera.jpg' %}" id="video_stream_placeholder" class="img-fluid rounded px-5 border border-5 border-secondary" alt="camera feed">
            </div>
            <div class="col-md-4 col-sm-12 pb-0">
                <div class="card bg-secondary py-1">
                    <div class="card-header text-light">
                        <div class="d-flex" style="justify-content: space-between;">
                            <p class="text-left">CAMERA TESTING</p>
                            <a class="text-light" id="text-web-cam" href="!#"> Test WebCam ?</a>
                        </div>
                    </div>
                    <div class="card-body text-light justify-content-center">
                        <div class="row py-4">
                            <div class="col-md-6 col-sm-4 py-2">
                                <p>Camera Name: <span id="camera-name"> -- </span></p>
                                <p>Camera IP: <span id="camera-ip"> -- </span></p>
                                <p>Camera Port: <span id="camera-port"> -- </span></p>
                                <div class="text-center">
                                    <button id="stopBtn" class="btn btn-danger mx-5 px-5 mt-2" disabled="true">Stop</button>
                                </div>
                                
                            </div>
                            <div class="col-md-6 col-sm-8 py-3">
                                <img src="{% static '\asset\images\testing.gif' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
    <section>
        <img src="" alt="" id="new_img">
    </section>
{% endblock content %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('camRegForm');
    const regBtn = document.getElementById('regBtn');
    const video = document.getElementById('video_stream');
    const stopBtn = document.getElementById('stopBtn');
    const webCamTestLink = document.getElementById('text-web-cam');
    const video_placeholder = document.getElementById('video_stream_placeholder');
    const img = document.createElement('img');
    var ipCamUrl = "http://ip:port/shot.jpg?"; // Replace with your IP camera URL
    let camStream;
    let socket;
    let apiCall;

    // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Fetch cameras and update the table
    function fetchCameras() {
        fetch("{% url 'retrieve_camera_view' %}")
        .then(response => response.json())
        .then(data => {
            updateCameraTable(data);
        })
        .catch(error => {
            console.error('Error fetching cameras:', error);
        });
    }

    // Update the camera table with new data
    function updateCameraTable(cameras) {
        var tbody = document.querySelector('table.table-dark tbody');
        tbody.innerHTML = ''; // Clear current table contents
        cameras.forEach(camera => {
            var row = document.createElement('tr');
            row.setAttribute('data-camera-name', camera.cname);
            row.setAttribute('data-camera-ip', camera.cip);
            row.setAttribute('data-camera-port', camera.cport);

            row.innerHTML = `
                <td>${camera.cname}</td>
                <td>${camera.cip}</td>
                <td>${camera.cport}</td>
                <td><a href="" class="test-link">Test</a></td>
            `;

            tbody.appendChild(row);

        });

        var testLinks = document.querySelectorAll('.test-link');
        // Event listener for test links
        testLinks.forEach(function(testLink) {
            testLink.addEventListener('click', function(event) {
                event.preventDefault();
                const cameraRow = event.target.closest('tr');
                const cameraData = {
                    name: cameraRow.dataset.cameraName,
                    ip: cameraRow.dataset.cameraIp,
                    port: cameraRow.dataset.cameraPort
                };
                startVideoStream(cameraData);
            });
        });
    }

    async function startWebcam() {
        try {
            document.getElementById('camera-name').textContent = "Device Cam";
            camStream = await navigator.mediaDevices.getUserMedia({ video: true });

            setupSocket();
            setupVideo();
            startSendingFrames();
        } catch (error) {
            console.error("Error accessing webcam: ", error);
            alert("Failed to access webcam. Please check your browser settings and permissions.");
        }
    }

    function setupSocket() {
        socket = new WebSocket('ws://localhost:8000/camera/ws/video/');
        socket.onopen = () => console.log("WebSocket connection opened");
        socket.onerror = (error) => console.error("WebSocket error: ", error);
        socket.onclose = () => console.log("WebSocket connection closed");
        socket.onmessage = handleSocketMessage;
    }

    function setupVideo() {
        video.srcObject = camStream;
        video.hidden = false;
        video_placeholder.hidden = true;
        stopBtn.disabled = false;
        webCamTestLink.disabled = true;
    }

    function handleSocketMessage(event) {
        const arrayBuffer = event.data;
        const blob = new Blob([arrayBuffer], { type: 'image/jpeg' });
        video.src = URL.createObjectURL(blob);
    }

    function startSendingFrames() {
        apiCall = setInterval(async () => {
            try {
                const frame = await grabFrame();
                const canvas = document.createElement('canvas');
                canvas.width = frame.width;
                canvas.height = frame.height;
                const context = canvas.getContext('2d');
                context.drawImage(frame, 0, 0, frame.width, frame.height);
                canvas.toBlob(sendBlob, 'image/jpeg');
            } catch (error) {
                console.error("Error capturing frame: ", error);
            }
        }, 50); // Send a frame every 50ms
    }

    async function grabFrame() {
        const imageCapture = new ImageCapture(camStream.getVideoTracks()[0]);
        return await imageCapture.grabFrame();
    }

    function sendBlob(blob) {
        if (socket && socket.readyState === WebSocket.OPEN) {
            console.log(blob);
            socket.send(blob);
        }
    }

    function stopCam() {
        if (camStream) {
            camStream.getTracks().forEach(track => track.stop());
            camStream = null;
            video.srcObject = null;
            video.src = "!#";
        }
        if (socket) socket.close();
        if (apiCall) clearInterval(apiCall);
        video.hidden = true;

        if (!video_placeholder.hidden) {
            video_placeholder.src = "{% static '/asset/images/no_camera.jpg' %}";
        }

        video_placeholder.hidden = false;
        stopBtn.disabled = true;
        webCamTestLink.disabled = false;
        document.getElementById('camera-name').textContent = "--";
        document.getElementById('camera-ip').textContent = "--";
        document.getElementById('camera-port').textContent = "--";
    }

    async function fetchImageAsBlob(url) {
        const response = await fetch(url, { mode: 'cors' });
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return await response.blob();
    }

    async function startVideoStream(cameraData) {
        stopBtn.disabled = false;
        webCamTestLink.disabled = true;
        ipCamUrl = ipCamUrl.replace("ip", cameraData.ip);
        ipCamUrl = ipCamUrl.replace("port", cameraData.port);
        img.src = ipCamUrl;
        img.onerror = function() {
            console.log(video.error);
            alert("Failed to load video stream. Please check if the camera is online and the IP address/port is correct.");
        };

        socket = new WebSocket('ws://localhost:8000/camera/ws/video/');

        socket.onopen = function(event) {
            console.log('WebSocket is connected.');
        };

        socket.onmessage = function(event) {
            const blob = new Blob([event.data], {type: 'image/jpeg'});
            const url = URL.createObjectURL(blob);
            video_placeholder.src = url;
        };

        socket.onerror = function(error) {
            console.log('WebSocket Error: ', error);
        };

        socket.onclose = function(event) {
            console.log('WebSocket is closed now.');
            clearInterval(apiCall);
        };

        apiCall = setInterval(async () => {
            try {
                const blob = await fetchImageAsBlob(img.src);
                sendBlob(blob);
            } catch (error) {
                console.error('Error fetching image as blob:', error);
            }
        }, 50);

        // Update the testing card with camera data
        document.getElementById('camera-name').textContent = cameraData.name;
        document.getElementById('camera-ip').textContent = cameraData.ip;
        document.getElementById('camera-port').textContent = cameraData.port;
    }

    // Event listener for form input changes
    form.addEventListener('input', function() {
        const allFieldsFilled = Array.from(form.querySelectorAll('input[type="text"], input[type="number"]')).every(input => input.value.trim() !== '');
        regBtn.disabled = !allFieldsFilled;
    });

    // Event listener for form submission
    regBtn.addEventListener('click', function (event) {
        event.preventDefault(); // Prevent form from submitting normally

        var formData = new FormData(form);
        var urlEncodedData = new URLSearchParams(formData).toString();

        fetch("{% url 'camera_register_view_asgi' %}", {
            method: 'POST',
            body: urlEncodedData,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data.success) {
                // Clear form fields after successful registration
                form.reset();
                regBtn.disabled = true; // Disable button until all fields are filled
                fetchCameras(); // Refresh camera table
            } else {
                console.error('Validation errors:', data.errors);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error, display an error message if necessary
            alert("Failed register camera! *** camera name must be unique");
        });
    });

    // Event listener for stop button
    stopBtn.addEventListener('click', function(event) {
        stopCam();
    });

    // Event listener for webcam test link
    webCamTestLink.addEventListener('click', function(event) {
        event.preventDefault();
        stopCam();
        startWebcam();
    });

    fetchCameras();
});
</script>
{% endblock extra_js %}
